body {
  font-family: 'Releway' sans-serif;
  background-color: black;
  color: #ffff;
  width: 100%;
  margin: 0;
  padding: 0;

  
}
header{
  width: 100%;
  height: 100%;
  border: rgb(0, 255, 234) solid 2px;
}

h1 {
  font-size: 3em;
  text-align: center;
}
.img_iguana{
  width: 100%;
  height: 100%;
}

.img_iguana img {
  width: 100%;
  height: 100%;
  text-align: center;
}

.características {
  text-align: center;


}

.contenedor {
  display: block;
  position: relative;
  width:  100%;
  height: 700px;
  border: red solid 2px;
  float: center;
}


.text_izd  {
  display: block;
  position: relative;
  left: 5%;
  top: 15%;
  width: 40%;
  height: auto;
  color: #ffffff;
  font-size: 2em;
  border: red solid 2px;
}
.img_der{
display: block;
position: absolute;
right: 5%;
top: 10%;
width: 45%;
height: 550px;
border: blue solid 2px;
}

.img_der img{
  width: 100%;
  height: 100%;
}

.caract-section{
background-color: #1E1A13;
display: block;
position: relative;
height: 300px;
text-align: center;
border: red solid 2px;
}

.caract-section h1{
font-size: 3em;
}

ul>li {
  display: inline-block;
  list-style: none;
  margin: 0 5%;
}

ul>li>i {
  display: block;
  text-align: center;
  font-size: 4em;
  margin-bottom: 3%;
}

ul>li>span {
  display: block;
  margin-top: auto;
  font-size: 2.4em;
  font-weight: 100;
  margin-top: 20px;
}

.imagenes{
  display: block;
  position: relative;
  height: 700px;
  border: red solid 2px;
  width: 100%;
  text-align: center;
}

.imagenes .galeria{
  display: inline-block;
  width: 30%;
  height: 80%;
  border: blue solid 2px;
  position: relative;
  margin-left: 1%;
  top: 10%;
}
.galeria img{
  height: 100%;
  width: 100%;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #1E1A13;
  color: #fff;
  text-align: center;
  line-height: 80px;
}

footer>p {
  font-size: 40px;
}

footer p a {
  text-decoration: none;
  color: #fff;
}
